<head>
  <link rel="icon" href="../favicon.ico">
</head>

<body>
  <video autoplay loop class="video-background" muted plays-inline>
    <source src="../assets/man.mp4" type="video/mp4">
  </video>


  <div class=title>The Genius Apprentice Program</div>

  <div class="lineSpacer"></div>

  <div class="blurbWrapper">
      Take a GAP year with the world's leading entrepreneur apprentice program. <br /><br />

      With 1 in 2 current job titles estimated to disappear in the next decade, what better way to impact our world than matching experienced entrepreneurs with aspiring young adults 
      to create amazing things together. <br /><br />
      
      The first step is discovering your life's purpose, so we can match you with the entrepreneur that is right for you. <br /> 
  </div>
  <div class="learnMoreWrapper">
    <a class="learnMoreButton" md-raised-button href="http://purpose.geniusu.com/?a_aid=gap">Discover your purpose now</a>
  </div>

  <div class="lineSpacer"></div>

  <div class="iconWrapper"> 
    <a md-fab class="iconButton" type="button" target="_blank" href="https://www.facebook.com/GeniusApprenticeProgram/">
      <img class="icon" src="../assets/facebookicon.png" >
    </a>
    <span class="iconPadding"></span>
    <a md-fab class="iconButton" type="button">
      <img class="icon" src="../assets/instaicon.png">
    </a>
    <span class="iconPadding"></span>
    <a md-fab class="iconButton" type="button">
      <img class="icon" src="../assets/twittericon.png">
    </a>
    <span class="iconPadding"></span>
    <a md-fab class="iconButton" type="button">
      <img class="icon" src="../assets/linkedinicon.png">
    </a>
  </div>
</body>