<video autoplay loop class="video-background" muted plays-inline>
  <source src="../assets/DJI_0064.MP4" type="video/mp4">
</video>

<div>
  <a md-raised-button>Head to ___ for more infomation</a>
</div>

<div class="iconWrapper">
  <a md-fab class="iconButton" type="button" click="">
    <img class="icon" src="../assets/facebookicon.png">
  </a>
  <span class="iconPadding"></span>
  <a md-fab class="iconButton" type="button" click="">
    <img class="icon" src="../assets/instaicon.png">
  </a>
  <span class="iconPadding"></span>
  <a md-fab class="iconButton" type="button" click="">
    <img class="icon" src="../assets/twittericon.png">
  </a>
  <span class="iconPadding"></span>
  <a md-fab class="iconButton" type="button" click="">
    <img class="icon" src="../assets/linkedinicon.png">
  </a>
</div>
